REACT_APP_PINATA_API_KEY="9abf7971c700a6014cf3"
REACT_APP_PINATA_SECRET_API_KEY="1bf540e77e8441063007fc9cf97158b1bbfb0eea738a952587852ebfb389807b"
REACT_APP_PINATA_JWT="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlNmIyNDQ3OS1iZGNmLTQ3YWEtODNhOC1lYWJmNjcxM2QyNmYiLCJlbWFpbCI6InpheWJsb2NrY2hhaW5AZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjlhYmY3OTcxYzcwMGE2MDE0Y2YzIiwic2NvcGVkS2V5U2VjcmV0IjoiMWJmNTQwZTc3ZTg0NDEwNjMwMDdmYzljZjk3MTU4YjFiYmZiMGVlYTczOGE5NTI1ODc4NTJlYmZiMzg5ODA3YiIsImV4cCI6MTc4Mjg0NzE1OH0.QOZfRkz6X71F__j8rPkmJ4IB8cz-3G5r2qdz2CjMMgI"
